//    Scss is only used for HTML element which are not controlled in this project
//    div having Editor ID contains playlist classname 
//    so here we controll the dark and light mode 

.playlist.dark {
     *,
      ::after,
      ::before {
        box-sizing: border-box;
      }
      overflow: hidden;
      .btn:not(:disabled) {
        cursor: pointer;
      }
   
      .btn {
        all: unset;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        background-color: transparent;
        border: 1px solid transparent;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
   
      .btn-outline-dark {
         color: white;
      }
   
      .btn-outline-dark:hover {
        color: white;
        border-color: var(--wp-mute-solo-color);
      }
   
      .btn-outline-dark:active:focus,
      .btn-outline-dark:focus {
        background: #4fa1ed;
        color: rgb(55, 17, 192);
      }
   
      .btn-xs {
        padding: 0.25rem 0.4rem;
        font-size: 0.875rem;
        line-height: 0.5;
        border-radius: 0.2rem;
        font-weight: 400;
      }
   
      .btn-group {
        margin-bottom: 0.5rem;
        margin-top: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
   
      .btn-group > .btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
   
      .btn-group > .btn:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
   
      .playlist-time-scale {
        height: 30px;
      }
   
      .playlist-tracks {
        background-color: dark ;
      }
   
   
      // Audio wave color
      .channel {
        background-color: #f3f4f9;
      }
   
      // progressed audio
      .channel-progress {
          background: #28ce88;
      }
      // user interaction cursor 
      .cursor {
        background: #ff9777;
    
      }
    
      // .wp-fade {
      //   background-color: var(--wp-fade-background-color);
      // }
    
      .state-cursor,
      .state-select {
        cursor: text;
      }
    
      .state-fadein {
        cursor: w-resize;
      }
    
      .state-fadeout {
        cursor: e-resize;
      }
    
      .state-shift {
        cursor: ew-resize;
      }
    
      .selection.point {
          background: #5d35b1
    
    
    
      }
      // Selected region get highlighted 
      .selection.segment {
        background: rgb(138, 237, 138);
        opacity: 0.1;
      }
      // For changing styling of Muted tracks
      .channel-wrapper.silent .channel {
        opacity: 0.3;
      }
      // Controls present on left side tracks 
      .controls {
        text-align: center;
        border: none;
        padding: 8px;
        background-color: #1C1917;

        // Delete tracks button
        #remove {
          position: relative;
          padding: 0.25rem;
          content: url(/utils/trash.svg);
        }

        .track-header {
          overflow: hidden;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0.2rem;
          font-size: 0.75rem;
          button {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
   
        label {
          width: 100%;
          display: flex;
          justify-content: space-between;
          font: normal;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          padding: 0 1rem;
          margin-bottom: 0.2rem;
        }
   
        label:before {
          color: var(--wp-range-slider-label-color);
          font-size: 18px;
          padding-right: 5px;
          -moz-osx-font-smoothing: grayscale;
        }
   
        label:after {
          color: var(--wp-range-slider-label-color);
          font-size: 18px;
          padding-left: 5px;
        }
        // slider for volume 
        label.volume:before {
          content: "-";
          color: white;
        }
   
        label.volume:after {
          content: "+";
          color: white;
        }
        // slider for stereo 
        label.stereopan:before {
          color:white;
          content: "L";
        }
    
        label.stereopan:after {
          color: white;
          content: "R";
        }
    
        // range slider
        input[type="range"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #0000;
          display: inline-block;
          width: 75%;
        }
    
        input[type="range"]::-webkit-slider-runnable-track {
          height: 1px;
          background: dark;
          background: white;
          border: none;
          border-radius: 3px;
        }
    
        input[type="range"]::-moz-range-track {
          height: 5px;
          background: white;
          border: none;
          border-radius: 3px;
        }
    
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          height: 14px;
          width: 3px;
          background: #1976d2;
          margin-top: -7px;
          cursor: ew-resize;
        }
   
        input[type="range"]::-moz-range-thumb {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          height: 14px;
          width: 3px;
          background: var(--wp-range-slider-color);
          margin-top: -7px;
          cursor: ew-resize;
        }
    
        input[type="range"]:focus {
          outline: none;
        }
    
        input[type="range"]:focus::-webkit-slider-runnable-track {
          background: #2499ef;
        }
    
        input[type="range"]:focus::-moz-range-track {
          background: #2499ef;
        }
      }
}

.playlist.light {
  *,
    ::after,
    ::before {
      box-sizing: border-box;
    }
    overflow: hidden;
    .btn:not(:disabled) {
      cursor: pointer;
    }

    .btn {
      all: unset;
      display: inline-block;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      background-color: transparent;
      border: 1px solid transparent;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-outline-dark {
      color: #1C1917;
      // insert black and white
    }

    .btn-outline-dark:hover {
      color: #f3f4f9;
      border-color: var(--wp-mute-solo-color);
      background-color: #1C1917;
    }

    .btn-outline-dark:active:focus,
    .btn-outline-dark:focus {
        background: #4fa1ed;
        color: rgb(55, 17, 192);
    }

    .btn-xs {
      padding: 0.25rem 0.4rem;
      font-size: 0.875rem;
      line-height: 0.5;
      border-radius: 0.2rem;
      font-weight: 400;
    }

    .btn-group {
      margin-bottom: 0.5rem;
      margin-top: -20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn-group > .btn:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .btn-group > .btn:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .playlist-time-scale {
      height: 30px;
    }

    .playlist-tracks {
      background-color: dark ;
    }


    // Audio wave color
    .channel {
      background-color: black;
    }

    // progressed audio
    .channel-progress {
      background: #01f726;
    }
    // cursor for user interaction
    .cursor {
      background: #f51f1f;

    }

    // .wp-fade {
    //   background-color: var(--wp-fade-background-color);
    // }

  .state-cursor,
  .state-select {
    cursor: text;
  }

  .state-fadein {
    cursor: w-resize;
  }

  .state-fadeout {
    cursor: e-resize;
  }

  .state-shift {
    cursor: ew-resize;
  }

  .selection.point {
    background: #5d35b1
  }
  // region (selected) area 
  .selection.segment {
    background-color: #01f726;
    opacity: 0.5;
  }
  // Muted audio track
  .channel-wrapper.silent .channel {
    opacity: 0.5;
  }

    .controls {
      text-align: center;
      border: none;
      padding: 8px;
      background-color: #f3f4f9;

      // Delete track
      #remove {
        position: relative;
        padding: 0.25rem;
        content: url(/utils/trash.svg);
      }

      .track-header {
        overflow: hidden;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.2rem;
        font-size: 0.75rem;
        color: #1C1917;
        button {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font: normal;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        padding: 0 1rem;
        margin-bottom: 0.2rem;
      }

      label:before {
        color: #1C1917;
        font-size: 18px;
        padding-right: 5px;
        -moz-osx-font-smoothing: grayscale;
      }
      label:after {
        color: #1C1917;
        font-size: 18px;
        padding-left: 5px;
      }
      // volume controls
      label.volume:before {
        content: "-";
        color: #1C1917;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      label.volume:after {
        content: "+";
        color: #1C1917;
      }
      // stereo controls
      label.stereopan:before {
        color:#1C1917;
        content: "L";
      }

      label.stereopan:after {
        color: #1C1917;
        content: "R";
      }
      // controls sliders
      input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #0000;
        display: inline-block;
        width: 75%;
      }
  
      input[type="range"]::-webkit-slider-runnable-track {
        height: 1px;
        background: dark;
        background: gray;
        border: none;
        border-radius: 3px;
      }

      input[type="range"]::-moz-range-track {
        height: 5px;
        background: gray;
        border: none;
        border-radius: 3px;
      }
  
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        height: 14px;
        width: 3px;
        background: #1976d2;
        margin-top: -7px;
        cursor: ew-resize;
      }

      input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        height: 14px;
        width: 3px;
        background: var(--wp-range-slider-color);
        margin-top: -7px;
        cursor: ew-resize;
      }
  
      input[type="range"]:focus {
        outline: none;
      }
  
      input[type="range"]:focus::-webkit-slider-runnable-track {
        background: #2499ef;
      }
  
      input[type="range"]:focus::-moz-range-track {
       
        background: #2499ef;
      }
  
    }
}

/* Firefox */
#editor * {
  scrollbar-width: none;
}
/* Chrome, Edge and Safari */
#editor *::-webkit-scrollbar {
  display: none;
  height: 10px;
  width: 10px;
}
#editor *::-webkit-scrollbar-track {

  background-color: transparent;
}
#editor *::-webkit-scrollbar-track:hover {

  background-color: transparent;
}
#editor *::-webkit-scrollbar-track:active {

  background-color: transparent;
}
#editor *::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background-color: #2499ef;

}
#editor *::-webkit-scrollbar-thumb:hover {
  background-color: #2499ef;
}
#editor *::-webkit-scrollbar-thumb:active {
  background-color: #0d3e62;
}

  